@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.gal-home{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.boton-de-mas{
    background-color: #1f1f1f;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 60px;
    font-weight: 700;
    margin: 10px auto 20px auto;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 30%;
    
}
.boton-de-mas:hover{
    background-color: #ffffff;
    color: #1f1f1f;
    border: 2px solid #1f1f1f;
    border-radius: 20px;
    text-decoration: none;
}

.titulo-galeria{
    font-family: 'Dancing Script', cursive;
    font-size: 60px
}