header{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0 auto;
    width: 80%;
}


ul{
    display: flex; 
}


li{
    list-style: none;
    color: #e6e6e6;
    margin-right: 10px;
    transition: all 0.2s ease;
}

li a:hover{
    color: #000000;
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 5px 10px;
}

li a{
    color: #e6e6e6;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    padding: 2px 0;
    transition: all 0.5s ease;
}