@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

body{
    background-color: #020202;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fbfbfb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Bricolage Grotesque', serif;
}