@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body{
    background-color: #020202;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fbfbfb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Bricolage Grotesque', serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #fbfbfb;
    text-align: center;
    margin: 0;
    padding: 0;
}